.header-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  position: relative;

  &__logo {
    display: flex;
    align-items: center;

    &-link {
      margin-right: 20px;
    }

    &-description {
      font-weight: 600;
      font-size: 24px;
      letter-spacing: 0.3px;
      text-transform: uppercase;
      color: #292F42;
      transition-delay: 0.5s;
    }
  }
}

.global-nav {

  &__mobile-controls {
    display: none;
  }

  &__menu {
    display: flex;
    opacity: 1;
    visibility: visible;
    position: relative;

    &:nth-child(2) {
      order: 2;
    }
  }

  &__item {
    display: flex;
    padding: 8px 20px;

    &_mobile_visible {
      display: none;
    }
  }


  &__button {
    border: 2px solid #292F42;
    border-radius: 5px;
    background-color: #FDFDFD;
    height: 40px;
    width: 85px;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
  }

  &__link {
    font-weight: 600;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #292F42;
    display: flex;
    align-items: center;

    &-arrow {
      display: inline-block;
      width: 17px;
      height: 2px;
      background: #292F42;
      position: relative;
      margin-left: 15px;

      &:before,
      &:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 7px;
        right: 0;
        background: #292F42;
      }

      &:before {
        transform-origin: right bottom;
        transform: rotate(45deg);
      }

      &:after {
        transform-origin: right top;
        transform: rotate(-45deg);
      }
    }
  }
}

.global-nav__menu .global-nav__item:nth-child(6) {
  order: 1;
}

.global-nav__menu .global-nav__item:nth-child(4) {
  order: 2;
}

.burger {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__raw {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #000;
    position: relative;
    border-radius: 5px;
    transition: all 0.1s;
    transition-delay: 0.4s;

  }
}

@media screen and (max-width: 768px) {
  .header-content {
    transition: all 0.1s;
    transition-delay: 0.5s;

    &__logo-link {
      margin-right: 15px;
    }
  }
  .global-nav {
    display: flex;
    align-items: center;

    &__mobile-controls {
      display: inline-block;
    }

    &__menu {
      transform: scaleY(0);
      visibility: hidden;
      position: absolute;
      top: 76px;
      left: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #292F42;
      width: 100%;
      height: calc(100vh - 77px);
      transition: all 0.5s;
      transform-origin: top center;
      z-index: 1;

      & .global-nav__item:nth-child(6) {
        order: 3;
      }

      & .global-nav__item:nth-child(5) {
        order: -2;
      }

      & .global-nav__item:nth-child(4) {
        order: -1;
      }

      & .global-nav__item:nth-child(2) {
        order: 1;
      }
    }

    &__item {
      padding: 14px;

      &_mobile_visible {
        display: flex;
      }
    }

    &__link {
      color: #FDFDFD;

      &-arrow {
        display: none;
      }
    }

    &__button {
      height: 56px;
      width: 344px;
      color: #FDFDFD;
      background-color: #86BE26;
    }

    &_opened {
      & .header-content {
        background-color: #292F42;
        transition: all 0.1s;

        &__logo-description {
          color: #FDFDFD;
          transition: all 0.3s;
        }
      }

      & .global-nav {
        &__menu {
          transform: scaleY(1);
          visibility: visible;
        }

        &__link {
          font-size: 24px;
          color: #FDFDFD;
          text-transform: none;
          transition: all 0.5s;
          transition-delay: 0.1s;
        }
      }

      & .burger {
        &_second_raw {
          transform: scaleX(0);
          transition: 0.3s;
        }

        &_first_raw {
          transform: translateY(7px) rotate(-45deg);
          background: #FDFDFD;
          transition: all 0.5s;
        }

        &_third_raw {
          transform: translateY(-6px) rotate(45deg);
          background: #FDFDFD;
          transition: all 0.5s;
        }
      }
    }
  }

  @media screen and (min-width: 451px) and (max-width: 768px) {
    .header-content {
      box-shadow: 0 1px 4px rgba(41, 47, 66, 0.05);
      padding: 12px 30px;

    }
  }

  @media screen and (max-width: 449px) {
    .header-content {
      box-shadow: 0 1px 10px rgba(41, 47, 66, 0.1);
      padding: 12px 22px;
      height: 64px;

      &__logo-img {
        width: 30px;
        height: 32px;
      }

      &__logo-description {
        font-size: 14px;
      }
    }
    .global-nav {
      &__menu {
        padding: 33px 22px;
        align-items: flex-start;
        justify-content: flex-start;
        top: 64px;
        height: calc(100vh - 64px);

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background: #292F42;
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        }
      }

      &__item {
        width: 100%;

        &:last-child {
          position: absolute;
          bottom: 22px;
          left: 0;
        }
      }

      &__button {
        width: 100%;
        background: linear-gradient(247.78deg, #C4E58B -41.78%, #86BE26 63.15%);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
      }
    }
  }
}

