@import "styles/fonts.css";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.page-wrapper {
  max-width: 1228px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.grid-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  position: relative;
}
.header-content__logo {
  display: flex;
  align-items: center;
}
.header-content__logo-link {
  margin-right: 20px;
}
.header-content__logo-description {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #292F42;
  transition-delay: 0.5s;
}

.global-nav__mobile-controls {
  display: none;
}
.global-nav__menu {
  display: flex;
  opacity: 1;
  visibility: visible;
  position: relative;
}
.global-nav__menu:nth-child(2) {
  order: 2;
}
.global-nav__item {
  display: flex;
  padding: 8px 20px;
}
.global-nav__item_mobile_visible {
  display: none;
}
.global-nav__button {
  border: 2px solid #292F42;
  border-radius: 5px;
  background-color: #FDFDFD;
  height: 40px;
  width: 85px;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.global-nav__link {
  font-weight: 600;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #292F42;
  display: flex;
  align-items: center;
}
.global-nav__link-arrow {
  display: inline-block;
  width: 17px;
  height: 2px;
  background: #292F42;
  position: relative;
  margin-left: 15px;
}
.global-nav__link-arrow:before, .global-nav__link-arrow:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 7px;
  right: 0;
  background: #292F42;
}
.global-nav__link-arrow:before {
  transform-origin: right bottom;
  transform: rotate(45deg);
}
.global-nav__link-arrow:after {
  transform-origin: right top;
  transform: rotate(-45deg);
}

.global-nav__menu .global-nav__item:nth-child(6) {
  order: 1;
}

.global-nav__menu .global-nav__item:nth-child(4) {
  order: 2;
}

.burger {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.burger__raw {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: relative;
  border-radius: 5px;
  transition: all 0.1s;
  transition-delay: 0.4s;
}

@media screen and (max-width: 768px) {
  .header-content {
    transition: all 0.1s;
    transition-delay: 0.5s;
  }
  .header-content__logo-link {
    margin-right: 15px;
  }

  .global-nav {
    display: flex;
    align-items: center;
  }
  .global-nav__mobile-controls {
    display: inline-block;
  }
  .global-nav__menu {
    transform: scaleY(0);
    visibility: hidden;
    position: absolute;
    top: 76px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #292F42;
    width: 100%;
    height: calc(100vh - 77px);
    transition: all 0.5s;
    transform-origin: top center;
    z-index: 1;
  }
  .global-nav__menu .global-nav__item:nth-child(6) {
    order: 3;
  }
  .global-nav__menu .global-nav__item:nth-child(5) {
    order: -2;
  }
  .global-nav__menu .global-nav__item:nth-child(4) {
    order: -1;
  }
  .global-nav__menu .global-nav__item:nth-child(2) {
    order: 1;
  }
  .global-nav__item {
    padding: 14px;
  }
  .global-nav__item_mobile_visible {
    display: flex;
  }
  .global-nav__link {
    color: #FDFDFD;
  }
  .global-nav__link-arrow {
    display: none;
  }
  .global-nav__button {
    height: 56px;
    width: 344px;
    color: #FDFDFD;
    background-color: #86BE26;
  }
  .global-nav_opened .header-content {
    background-color: #292F42;
    transition: all 0.1s;
  }
  .global-nav_opened .header-content__logo-description {
    color: #FDFDFD;
    transition: all 0.3s;
  }
  .global-nav_opened .global-nav__menu {
    transform: scaleY(1);
    visibility: visible;
  }
  .global-nav_opened .global-nav__link {
    font-size: 24px;
    color: #FDFDFD;
    text-transform: none;
    transition: all 0.5s;
    transition-delay: 0.1s;
  }
  .global-nav_opened .burger_second_raw {
    transform: scaleX(0);
    transition: 0.3s;
  }
  .global-nav_opened .burger_first_raw {
    transform: translateY(7px) rotate(-45deg);
    background: #FDFDFD;
    transition: all 0.5s;
  }
  .global-nav_opened .burger_third_raw {
    transform: translateY(-6px) rotate(45deg);
    background: #FDFDFD;
    transition: all 0.5s;
  }
}
@media screen and (max-width: 768px) and (min-width: 451px) and (max-width: 768px) {
  .header-content {
    box-shadow: 0 1px 4px rgba(41, 47, 66, 0.05);
    padding: 12px 30px;
  }
}
@media screen and (max-width: 768px) and (max-width: 449px) {
  .header-content {
    box-shadow: 0 1px 10px rgba(41, 47, 66, 0.1);
    padding: 12px 22px;
    height: 64px;
  }
  .header-content__logo-img {
    width: 30px;
    height: 32px;
  }
  .header-content__logo-description {
    font-size: 14px;
  }

  .global-nav__menu {
    padding: 33px 22px;
    align-items: flex-start;
    justify-content: flex-start;
    top: 64px;
    height: calc(100vh - 64px);
  }
  .global-nav__menu:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #292F42;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  }
  .global-nav__item {
    width: 100%;
  }
  .global-nav__item:last-child {
    position: absolute;
    bottom: 22px;
    left: 0;
  }
  .global-nav__button {
    width: 100%;
    background: linear-gradient(247.78deg, #C4E58B -41.78%, #86BE26 63.15%);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  }
}
.main-content {
  align-items: flex-start;
}

.filters {
  padding-top: 130px;
  width: 25%;
}
.filters__item {
  width: 100%;
}
.filters__item_mobile {
  display: none;
}
.filters__link {
  padding: 8px 10px 8px 0;
  line-height: 24px;
  color: #6F7583;
  text-transform: capitalize;
}
.filters__link-active {
  color: #292F42;
  font-weight: 500;
}
.filters__link_mobile {
  color: #B3B3C6;
}

.vacancy {
  padding: 70px 120px 0 25px;
  width: 75%;
}
.vacancy__link-back {
  font-weight: 500;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #292F42;
  padding-left: 15px;
  position: relative;
}
.vacancy__link-back:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-left: 1.5px solid #292F42;
  border-bottom: 1.5px solid #292F42;
  transform: translateY(-50%) rotate(45deg);
  width: 6px;
  height: 6px;
}
.vacancy__inform-block {
  padding-top: 40px;
}
.vacancy__title {
  font-weight: 600;
  line-height: 38px;
  font-size: 34px;
  letter-spacing: 0.3px;
  color: #292F42;
  width: 100%;
}
.vacancy__description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 10px;
  position: relative;
  padding-bottom: 20px;
}
.vacancy__description:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #292F42;
  opacity: 0.05;
  border-radius: 1px;
}
.vacancy__images {
  width: 56px;
  height: 54px;
}
.vacancy__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 25px;
  padding-top: 20px;
}
.vacancy__content_block_first {
  font-weight: 500;
  line-height: 24px;
  color: #6F7583;
  font-size: 16px;
  letter-spacing: 0.3px;
  padding-bottom: 10px;
}
.vacancy__content_block_first_quantity {
  text-decoration-line: underline;
  color: #86BE26;
}
.vacancy__content_block_second {
  letter-spacing: 0.3px;
  color: rgba(41, 47, 66, 0.25);
}
.vacancy__offers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 30px 10px 30px 32px;
  transition: 0.3s;
}
.vacancy__offers:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.vacancy__offers:hover .vacancy__offers-additional-content {
  display: inline-block;
}
.vacancy__offers-title {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.3px;
  color: #292F42;
  padding-bottom: 15px;
}
.vacancy__offers-title_mobile_visible {
  display: none;
}
.vacancy__offers-note {
  letter-spacing: 0.3px;
  color: #6F7583;
}
.vacancy__offers-additional-content {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #86BE26;
  display: none;
  cursor: pointer;
  padding-right: 30px;
}
.vacancy__offers-arrow {
  width: 25px;
  height: 2px;
  display: inline-block;
  background: #86BE26;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.vacancy__offers-arrow:before, .vacancy__offers-arrow:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 7px;
  right: 0;
  background: #86BE26;
}
.vacancy__offers-arrow:before {
  transform-origin: right bottom;
  transform: rotate(45deg);
  top: 0;
}
.vacancy__offers-arrow:after {
  transform-origin: right top;
  transform: rotate(-45deg);
  bottom: 0;
}

.main-content {
  padding-left: 30px;
}
.main-content__communication-unit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 140px;
}
.main-content__title {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 34px;
  letter-spacing: 0.3px;
  color: #9DD241;
  margin-bottom: 25px;
}
.main-content__description {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: rgba(41, 47, 66, 0.25);
  margin-bottom: 60px;
  text-align: center;
}
.main-content__button {
  background: linear-gradient(251.94deg, #C4E58B -41.78%, #86BE26 63.15%);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #FDFDFD;
  padding: 20px 60px;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
}
.main-content__button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  transition: 0.5s;
  background-color: #fff;
  opacity: 0.2;
}
.main-content__button:hover::before {
  bottom: 0;
  top: auto;
  height: 100%;
}

@media screen and (min-width: 576px) and (max-width: 1024px) {
  .main-content {
    padding-top: 50px;
  }
  .main-content__title {
    margin-bottom: 20px;
  }
  .main-content__communication-unit {
    padding-top: 100px;
  }
  .main-content__description {
    margin-bottom: 70px;
  }

  .filters {
    margin-top: 60px;
    padding-top: 0;
  }

  .vacancy {
    padding: 0 30px 0 0;
  }
  .vacancy__inform-block {
    padding-top: 45px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .main-content {
    padding: 50px 22px 0 22px;
  }
}
@media screen and (max-width: 574px) {
  .main-content {
    padding: 40px 22px 0 22px;
  }
  .main-content__communication-unit {
    padding-top: 72px;
    padding-bottom: 120px;
  }
  .main-content__title {
    font-size: 24px;
    text-align: center;
    padding: 0 60px;
  }
  .main-content__description {
    font-size: 10px;
    padding: 0 10px;
    margin-bottom: 55px;
  }

  .filters {
    padding-top: 0;
    width: 100%;
    position: relative;
  }
  .filters:after {
    content: "";
    position: absolute;
    bottom: -24px;
    width: 100%;
    height: 2px;
    background: #292F42;
    opacity: 0.05;
    border-radius: 1px;
  }
  .filters__item {
    width: 100%;
    padding: 0;
  }
  .filters__item_mobile {
    display: inline-block;
  }
  .filters__link {
    font-size: 14px;
  }

  .vacancy {
    padding: 46px 20px 0 0;
    width: 100%;
  }
  .vacancy__content {
    padding-top: 0;
  }
  .vacancy__offers {
    padding: 24px;
  }
  .vacancy__offers:hover .vacancy__offers-additional-content {
    display: none;
  }
  .vacancy__offers-title {
    font-size: 18px;
  }
  .vacancy__offers-title_mobile_hidden {
    display: none;
  }
  .vacancy__offers-title_mobile_visible {
    display: inline-block;
    padding-right: 30px;
  }
  .vacancy__offers-note {
    font-size: 14px;
    display: block;
  }
}
.wave-over {
  position: relative;
  background-image: url(./assets/images/lg-first-layer.png);
  background-size: 100% 100%;
  width: 100%;
  height: 398px;
}
.wave-over__second-layer {
  background-image: url(./assets/images/lg-second-layer.png);
  background-size: 100% 100%;
  width: 100%;
  height: 359px;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.footer-section {
  background: #292F42;
  position: relative;
  display: flex;
  flex-direction: column;
}
.footer-section:after {
  content: "";
  position: absolute;
  bottom: 46px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #102a38;
}

.footer-container {
  display: flex;
  justify-content: center;
  padding: 0 30px;
}
.footer-container__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 200px;
  width: 33.333%;
}
.footer-container__title {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
  margin-top: 24px;
  width: 100%;
  font-family: "Lora", serif;
}
.footer-container__input-block {
  height: 56px;
  display: flex;
  justify-content: center;
  max-width: 386px;
  width: 100%;
  background-color: #FDFDFD;
  border-radius: 5px;
  margin-top: 24px;
  margin-bottom: 30px;
}
.footer-container__input-block_mobile_visible {
  display: none;
}
.footer-container__input {
  max-width: 328px;
  width: 100%;
  outline: none;
  padding-left: 40px;
  background: #FDFDFD;
  border: 1px solid rgba(41, 47, 66, 0.1);
  box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.3px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.footer-container__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60px;
  width: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  background: linear-gradient(270deg, #86BE26 1.79%, #86BE26 100%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.footer-container__btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0;
  transition: 0.5s;
  background-color: #fff;
  opacity: 0.2;
}
.footer-container__btn:hover::before {
  height: 100%;
}
.footer-container__btn :not(:hover)::before {
  top: 0;
}
.footer-container__btn-arrow {
  display: inline-block;
  width: 17px;
  height: 2px;
  position: relative;
  background: #FDFDFD;
}
.footer-container__btn-arrow:before, .footer-container__btn-arrow:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 7px;
  right: 0;
  background: #FDFDFD;
}
.footer-container__btn-arrow:before {
  transform-origin: right bottom;
  transform: rotate(45deg);
}
.footer-container__btn-arrow:after {
  transform-origin: right top;
  transform: rotate(-45deg);
}
.footer-container__logo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-container__logo-link {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #FDFDFD;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  margin-bottom: 24px;
}
.footer-container__logo-annotation {
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #FDFDFD;
  max-width: 385px;
}
.footer-container__nav-section {
  padding-top: 55px;
  padding-left: 86px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 66.666%;
}
.footer-container__nav-block {
  margin-bottom: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.footer-container__nav-item {
  width: 28%;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-container__nav-title {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.3px;
  color: #FDFDFD;
  margin-bottom: 16px;
  width: 100%;
  font-family: "Lora", serif;
}
.footer-container__nav-title_togle {
  display: none;
}
.footer-container__nav-child-link {
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #FDFDFD;
  padding: 8px 0;
  font-family: "Roboto", sans-serif;
}
.footer-container__nav-child-link:hover {
  text-decoration-line: underline;
  color: #86BE26;
}
.footer-container__copywrite-block {
  text-align: center;
}
.footer-container__copywrite-block {
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  padding: 16px 0;
  color: #FFFFFF;
  margin-left: -120px;
}
.footer-container__copywrite-text_modificetion {
  color: #86BE26;
}

@media screen and (min-width: 1026px) and (max-width: 1150px) {
  .footer-container {
    padding-left: 30px;
  }
  .footer-container__copywrite-block {
    margin-left: 0;
  }
}
@media screen and (max-width: 1024px) {
  .footer-container {
    flex-direction: column;
  }
  .footer-container__form {
    width: 100%;
  }
  .footer-container__nav-section {
    width: 100%;
    padding: 0;
  }
  .footer-container__nav-title {
    font-size: 18px;
  }
  .footer-container__copywrite-block {
    margin-left: 0;
  }
  .footer-container__logo-annotation {
    font-size: 14px;
  }
  .footer-container__nav-item {
    width: 24%;
  }
}
@media screen and (min-width: 576px) and (max-width: 1025px) {
  .wave-over {
    background-image: url(./assets/images/lt-first-layer.png);
    background-size: cover;
    height: 268px;
  }
  .wave-over__second-layer {
    background-image: url(./assets/images/lt-second-layer.png);
    background-size: cover;
    height: 255px;
  }
}
@media screen and (min-width: 576px) and (max-width: 1024px) {
  .footer-container {
    padding: 0 30px;
  }
  .footer-container:after {
    bottom: 62px;
  }
  .footer-container__form {
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 45px;
  }
  .footer-container__title {
    margin-top: 0;
    width: 50%;
  }
  .footer-container__logo {
    width: 50%;
    padding-right: 24px;
  }
  .footer-container__copywrite-block {
    padding: 24px 0;
  }
}
@media screen and (max-width: 574px) {
  .wave-over {
    background-image: url(./assets/images/mob-first-layer.png);
    background-size: cover;
    height: 84px;
  }
  .wave-over__second-layer {
    background-image: url(./assets/images/mob-second-layer.png);
    background-size: cover;
    height: 50px;
  }

  .footer-container {
    padding: 0 22px;
  }
  .footer-container:after {
    bottom: 59px;
  }
  .footer-container__form {
    flex-direction: column-reverse;
    padding-bottom: 32px;
  }
  .footer-container__title {
    width: 100%;
  }
  .footer-container__input {
    padding-left: 24px;
    border-radius: 5px;
    max-width: 580px;
  }
  .footer-container__input-block_mobile_hidden {
    display: none;
  }
  .footer-container__input-block_mobile_visible {
    display: flex;
    max-width: 580px;
  }
  .footer-container__logo-link {
    margin-bottom: 16px;
  }
  .footer-container__nav-block {
    flex-direction: column;
  }
  .footer-container__nav-item {
    width: 100%;
    padding-bottom: 20px;
  }
  .footer-container__nav-title {
    position: relative;
    display: inherit;
  }
  .footer-container__nav-title:before, .footer-container__nav-title:after {
    content: "";
    position: absolute;
    background: #fff;
    width: 16px;
    height: 2px;
    border-radius: 5px;
    top: 50%;
    right: 0;
    transition: 0.2s;
  }
  .footer-container__nav-title:after {
    transform: rotate(90deg);
  }
  .footer-container__nav-child-block {
    display: none;
    visibility: hidden;
    transform: scale(0);
  }
  .footer-container__copywrite-block {
    padding: 24px 0;
    font-size: 10px;
  }

  .footer-container__nav-title_togle:checked + .footer-container__nav-title + .footer-container__nav-child-block {
    display: inline-block;
    transform: scale(1);
    visibility: visible;
  }
  .footer-container__nav-title_togle:checked + .footer-container__nav-title:after {
    transform: rotate(0);
  }
}
.go-back {
  position: fixed;
  bottom: 5%;
  left: 2%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 2px #86BE26;
}
.go-back:hover .go-back__description {
  opacity: 1;
  visibility: visible;
}
.go-back__description {
  width: 145px;
  height: 60px;
  color: #fff;
  background-color: #86BE26;
  position: absolute;
  top: -85px;
  left: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  font-family: "Sedgwick Ave", cursive;
  font-weight: bold;
  font-size: 18px;
  transition: 0.8s;
}
.go-back__description_block {
  width: 30px;
  height: 50px;
  background-color: #86BE26;
  position: absolute;
  bottom: -9px;
  left: 10px;
  z-index: -1;
  transform: skewY(40deg);
}
.go-back__button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #86BE26;
  outline: none;
  border: none;
}
.go-back__icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  stroke-width: 0;
  stroke: #fff;
  fill: #fff;
}

@media screen and (max-width: 868px) {
  .go-back {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
